@import "../../../styles/colors";

.sci-sortier-documentation-logo {
  > g {
    transition: transform 0.5s;

    > path {
      stroke-width: 2px;
      stroke-linecap: round;

      &.clear {
        stroke: transparent;
      }
      &.back-1 {
        stroke: $blue-10;
      }
      &.back-2 {
        stroke: $orange-10;
      }
      &.back-3 {
        stroke: $purple-10;
      }
      &.fore {
        stroke: $blue-70;
      }
    }
  }
}
